<template>
<div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
        <!-- Card stats -->
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Total traffic" type="gradient-red" sub-title="350,897" icon="ni ni-active-40" class="mb-4 mb-xl-0">
                    <template slot="footer">
                        <span class="text-success mr-2">
                            <i class="fa fa-arrow-up"></i> 3.48%
                        </span>
                        <span class="text-nowrap">Since last month</span>
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Total traffic" type="gradient-orange" sub-title="2,356" icon="ni ni-chart-pie-35" class="mb-4 mb-xl-0">
                    <template slot="footer">
                        <span class="text-success mr-2">
                            <i class="fa fa-arrow-up"></i> 12.18%
                        </span>
                        <span class="text-nowrap">Since last month</span>
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Sales" type="gradient-green" sub-title="924" icon="ni ni-money-coins" class="mb-4 mb-xl-0">
                    <template slot="footer">
                        <span class="text-danger mr-2">
                            <i class="fa fa-arrow-down"></i> 5.72%
                        </span>
                        <span class="text-nowrap">Since last month</span>
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Performance" type="gradient-info" sub-title="49,65%" icon="ni ni-chart-bar-32" class="mb-4 mb-xl-0">
                    <template slot="footer">
                        <span class="text-success mr-2">
                            <i class="fa fa-arrow-up"></i> 54.8%
                        </span>
                        <span class="text-nowrap">Since last month</span>
                    </template>
                </stats-card>
            </div>
        </div>
    </base-header>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow border-0">
                    <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    // mounted() {
    //     let google = window.google;
    //     let map = document.getElementById("map-canvas");
    //     let lat = map.getAttribute("data-lat");
    //     let lng = map.getAttribute("data-lng");

    //     const myLatlng = new google.maps.LatLng(lat, lng);
    //     const mapOptions = {
    //         zoom: 12,
    //         scrollwheel: false,
    //         center: myLatlng,
    //         mapTypeId: google.maps.MapTypeId.ROADMAP,
    //         styles: [{
    //                 featureType: "administrative",
    //                 elementType: "labels.text.fill",
    //                 stylers: [{
    //                     color: "#444444"
    //                 }]
    //             },
    //             {
    //                 featureType: "landscape",
    //                 elementType: "all",
    //                 stylers: [{
    //                     color: "#f2f2f2"
    //                 }]
    //             },
    //             {
    //                 featureType: "poi",
    //                 elementType: "all",
    //                 stylers: [{
    //                     visibility: "off"
    //                 }]
    //             },
    //             {
    //                 featureType: "road",
    //                 elementType: "all",
    //                 stylers: [{
    //                     saturation: -100
    //                 }, {
    //                     lightness: 45
    //                 }]
    //             },
    //             {
    //                 featureType: "road.highway",
    //                 elementType: "all",
    //                 stylers: [{
    //                     visibility: "simplified"
    //                 }]
    //             },
    //             {
    //                 featureType: "road.arterial",
    //                 elementType: "labels.icon",
    //                 stylers: [{
    //                     visibility: "off"
    //                 }]
    //             },
    //             {
    //                 featureType: "transit",
    //                 elementType: "all",
    //                 stylers: [{
    //                     visibility: "off"
    //                 }]
    //             },
    //             {
    //                 featureType: "water",
    //                 elementType: "all",
    //                 stylers: [{
    //                     color: "#5e72e4"
    //                 }, {
    //                     visibility: "on"
    //                 }]
    //             }
    //         ]
    //     };

    //     map = new google.maps.Map(map, mapOptions);

    //     const marker = new google.maps.Marker({
    //         position: myLatlng,
    //         map: map,
    //         animation: google.maps.Animation.DROP,
    //         title: "Hello World!"
    //     });

    //     const contentString =
    //         '<div class="info-window-content"><h2>Argon Dashboard</h2>' +
    //         "<p>A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</p></div>";

    //     const infowindow = new google.maps.InfoWindow({
    //         content: contentString
    //     });

    //     google.maps.event.addListener(marker, "click", function () {
    //         infowindow.open(map, marker);
    //     });
    // }
};
</script>

<style>
</style>
