<template>
<div>

    <base-nav class="navbar-top navbar-dark" id="navbar-main" :show-toggle-button="false" expand>

    </base-nav>

    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
        <!-- Card stats -->
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Revenue" type="gradient-red" :sub-title="header.revenue" icon="fas fa-chart-line" class="mb-4 mb-xl-0"> 
                    <template slot="footer">
                        <span class="text-success mr-2">{{ this.header.product_count }}</span>
                        <span class="text-nowrap">Active Products</span>
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Product Sold" type="gradient-orange" :sub-title="header.historical_sold" icon="fas fa-boxes" class="mb-4 mb-xl-0"> 
                    <template slot="footer">
                        <span class="text-nowrap">{{ this.header.view_count }} &mdash; {{ this.header.rating_count }}  </span>
                        <!-- <span class="text-right">{{ this.header.view_count }} &mdash; View Count </span> -->
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Follower" type="gradient-green" :sub-title="header.follower_count" icon="fas fa-users" class="mb-4 mb-xl-0">
                    <template slot="footer">
                        <span class="text-primary mr-2 ">{{ this.header.liked_count }}</span>
                        <span class="text-nowrap">Total Like</span>
                    </template>
                </stats-card>
            </div>
            <div class="col-xl-3 col-lg-6">
                <stats-card title="Shop Info" type="gradient-blue" :sub-title="header.username" :icon="header.os" class="mb-4 mb-xl-0"> 
                    <template slot="footer">
                        <span class="text-nowrap">{{ this.header.name }}</span> 
                    </template>
                </stats-card>
            </div>
        </div>
    </base-header>

    <div class="container-fluid mt--8">

        <div class="row mt-5 mb-5">

            <div class="col-lg-12 mb-5 mb-xl-0">

                <div class="card">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-lg-5">
                                <h3 class="mb-0">Revenue</h3>
                            </div>
                            <div class="col-lg-5 text-right">
                                <base-input class="mb-0" addon-left-icon="ni ni-calendar-grid-58">
                                    <flat-picker slot-scope="{focus, blur}" @on-open="focus" @on-close="blur" :config="{allowInput: true, mode: 'range'}" class="form-control datepicker" v-model="range">
                                    </flat-picker>
                                </base-input>

                            </div>
                            <div class="col-lg-1 ">
                                <base-button @click="refreshTime()" type="primary" class="mb-0 text-center btn-block "><span class="fas fa-redo"></span></base-button>
                            </div>
                            <div class="col-lg-1 ">
                                <base-button @click="back()" type="info" class="mb-0 text-center btn-block ">List</base-button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <apexchart ref="salesChart" height="400" type="line" :options="options" :series="series"></apexchart>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5 mb-5">
            <div class="col-xl-6 mb-5 mb-xl-0">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Engagement</h3>
                    </div>

                    <div>
                        <apexchart ref="engagementChart" height="400" type="line" :options="optionsEngagement" :series="seriesEngagement"></apexchart>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-5 mb-xl-0">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="mb-0">PDP Views</h3>
                    </div>

                    <div>
                        <apexchart ref="viewChart" height="400" type="line" :options="optionsViews" :series="seriesViews"></apexchart>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</template>

<script>
// Charts
import Vue from 'vue';

import axios from 'axios'
import VueSweetalert2 from 'vue-sweetalert2';
import VueModal from 'vue-js-modal'

import VueApexCharts from 'vue-apexcharts'

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

Vue.use(VueSweetalert2)
Vue.use(VueModal)
Vue.component('apexchart', VueApexCharts)
export default {
    components: {
        flatPicker
    },
    data() {
        return {

            options: {

                xaxis: {
                    categories: [],
                    labels: {
                        show: true,
                        rotate: 0,
                        hideOverlappingLabels: true,
                    },
                    tooltip: {
                        enabled: false,
                    },
                    tickPlacement: 'on',

                },
                stroke: {
                    width: [3, 1],
                    curve: 'straight',
                    dashArray: [0, 0]
                },

                markers: {
                    size: 0,
                    hover: {
                        size: 0,
                        sizeOffset: 3
                    }
                },

                legend: {
                    show: true,
                    itemMargin: {
                        horizontal: 5,
                        vertical: 10
                    },
                    onItemClick: {
                        toggleDataSeries: true
                    },
                    onItemHover: {
                        highlightDataSeries: true
                    },
                },

                yaxis: {
                    labels: {
                        formatter: (value) => {
                            return (value).toLocaleString("id-ID", {
                                style: "currency",
                                currency: "IDR",
                                minimumFractionDigits: 0
                            })
                        }
                    }
                },

                tooltip: {
                    enabled: true,
                    followCursor: true,

                    y: {
                        formatter: function (value, {
                            seriesIndex,
                        }) {

                            if (seriesIndex != 1) {

                                return (value).toLocaleString("id-ID", {
                                    style: "currency",
                                    currency: "IDR",
                                    minimumFractionDigits: 0
                                })

                            } else {
                                return value
                            }

                        }
                    }

                }

            },

            optionsEngagement: {

                colors: ["#5e72e4", "#11cdef", "#f5365c", "#fb6340"],

                xaxis: {
                    categories: [],
                    labels: {
                        show: true,
                        rotate: 0,
                        hideOverlappingLabels: true,
                    },
                    tooltip: {
                        enabled: false,
                    },
                    tickPlacement: 'on',

                },
                stroke: {
                    width: [1, 1, 1, 0],
                    curve: 'smooth',
                    dashArray: [0, 0, 0]
                },

                markers: {
                    size: 0,
                    hover: {
                        size: 0,
                        sizeOffset: 3
                    }
                },

                legend: {
                    show: true,
                    itemMargin: {
                        horizontal: 5,
                        vertical: 10
                    },
                    onItemClick: {
                        toggleDataSeries: true
                    },
                    onItemHover: {
                        highlightDataSeries: true
                    },
                },

                tooltip: {
                    enabled: true,
                    followCursor: true,

                }

            },

            optionsViews: {

                colors: ["#172b4d"],

                xaxis: {
                    categories: [],
                    labels: {
                        show: true,
                        rotate: 0,
                        hideOverlappingLabels: true,
                    },
                    tooltip: {
                        enabled: false,
                    },
                    tickPlacement: 'on',

                },
                stroke: {
                    width: [2],
                    curve: 'smooth',
                    dashArray: [5]
                },

                markers: {
                    size: 0,
                    hover: {
                        size: 0,
                        sizeOffset: 3
                    }
                },

                legend: {
                    show: true,
                    itemMargin: {
                        horizontal: 5,
                        vertical: 10
                    },
                    onItemClick: {
                        toggleDataSeries: true
                    },
                    onItemHover: {
                        highlightDataSeries: true
                    },
                },

                tooltip: {
                    enabled: true,
                    followCursor: true,

                }

            },

            series: [{
                name: 'Revenue',
                data: []
            }, {
                name: 'Item Count',
                data: []
            }],

            seriesEngagement: [{
                name: 'Like Count',
                data: []
            }, {
                name: 'Sold Count',
                data: []
            }, {
                name: 'Rating Count',
                data: []
            }, {
                name: 'Item Count',
                data: []
            }],

            seriesViews: [{
                name: 'View Count',
                data: []
            }],

            // global var

            username: '',
            host: process.env.VUE_APP_HOST,

            dateStart: '',
            dateFinish: '',

            range: "",
            header: {
                revenue: '',
                product_count: '',
                historical_sold: '',
                liked_count: '',
                rating_count: '',
                view_count: '',
                follower_count: '',
                name: '',
                username: '',
                os: 'fas fa-times',
            }

        }
    },

    mounted() {

        let query = this.$route.query
        this.username = query.username

        if (query.date_finish == null) {
            this.dateFinish = this.getCurrentDateFormatted(0)
        }

        if (query.date_start == null) {
            this.dateStart = this.getCurrentDateFormatted(3)
        }

        this.GetSellerHeader()

        this.formatDateRange()
        this.GetSellerChart()

    },

    methods: {

        GetSellerHeader() {

            let endpoint = encodeURI(this.host + '/api/shp/header/seller?username=' + this.username)

            axios.get(endpoint).then(response => {

                let data = response.data.data

                if (data !== null) {

                    this.header.revenue = this.formatRupiah(data.product_summary.revenue)
                    this.header.product_count = this.formatNumber(data.product_summary.product_count)

                    this.header.historical_sold = this.formatNumber(data.product_summary.historical_sold)
                    this.header.view_count = this.formatNumber(data.product_summary.view_count)
                    this.header.rating_count = this.formatNumber(data.product_summary.rating_count)

                    this.header.follower_count = this.formatNumber(data.seller_summary.follower_count)
                    this.header.liked_count = this.formatNumber(data.product_summary.liked_count)

                    this.header.username = data.seller_summary.username
                    this.header.name = data.seller_summary.name
                    

                    if(data.seller_summary.is_official_shop == true) {
                        this.header.os = 'fas fa-check'
                    }

                    Vue.swal.close()
                    Vue.swal("Success", response.data.message, "success")

                } else {

                    Vue.swal.close()
                    Vue.swal("Whoops", response.data.message, "error")
                }

            }).catch(error => {

                Vue.swal.close()
                Vue.swal("Error", error, "error")
            })

        },

        GetSellerChart() {

            Vue.swal({
                imageUrl: 'https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-23.gif',
                imageWidth: 300,
                title: "Curating Merchant Data",
                text: "range between " + this.range,
                showConfirmButton: false,
                padding: '3em',
                allowEscapeKey: false,
                allowOutsideClick: false,

            })

            this.resetChart()

            let endpoint = encodeURI(this.host + '/api/shp/chart/seller?username=' + this.username + '&date_start=' + this.dateStart + '&date_finish=' + this.dateFinish)

            axios.get(endpoint).then(response => {

                let data = response.data.data

                if (data !== null) {

                    if (data.chart_data !== null) {

                        for (let index = 0; index < data.chart_data.length; index++) {

                            let d = data.chart_data[index]

                            this.series[0].data.push(d.revenue)
                            this.series[1].data.push(d.item_count)

                            this.seriesEngagement[0].data.push(d.like_count)
                            this.seriesEngagement[1].data.push(d.sold_count)
                            this.seriesEngagement[2].data.push(d.rating_count)
                            this.seriesEngagement[3].data.push(d.item_count)

                            let date = new Date(d.timestamp)

                            if (date > new Date('2020-05-03T22:00:00Z')) {
                                this.seriesViews[0].data.push(d.view_count)
                            }

                            this.options.xaxis.categories.push(d.label)
                            this.optionsEngagement.xaxis.categories.push(d.label)
                            this.optionsViews.xaxis.categories.push(d.label)

                        }

                        this.$refs.salesChart.updateSeries(this.series, false, true)

                        this.$refs.salesChart.updateOptions({
                            xaxis: this.options.xaxis
                        }, false, true)

                        this.$refs.engagementChart.updateSeries(this.seriesEngagement, false, true)

                        this.$refs.engagementChart.updateOptions({
                            xaxis: this.optionsEngagement.xaxis
                        }, false, true)

                        this.$refs.viewChart.updateSeries(this.seriesViews, false, true)

                        this.$refs.viewChart.updateOptions({
                            xaxis: this.optionsViews.xaxis
                        }, false, true)

                        Vue.swal.close()
                        Vue.swal("Success", response.data.message, "success")

                        

                    } else {
                        Vue.swal.close()
                        Vue.swal("Hmmm", response.data.message, "error")    
                    }

                } else {
                    Vue.swal.close()
                    Vue.swal("Whoops", response.data.message, "error")
                }

            }).catch(error => {

                Vue.swal.close()
                Vue.swal("Error", error, "error")
            })

        },

        // util

        back() {
            this.$router.replace({
                path: '/shop'
            })
        },

        refreshTime() {

            let dates = this.convertFromPicker(this.range)
            this.dateStart = dates[0]
            this.dateFinish = dates[1] + ' 23:00:00'

            this.GetSellerChart()
        },

        resetChart() {

            this.series[0].data = []
            this.series[1].data = []

            this.seriesEngagement[0].data = []
            this.seriesEngagement[1].data = []
            this.seriesEngagement[2].data = []
            this.seriesEngagement[3].data = []

            this.seriesViews[0].data = []

            this.options.xaxis.categories = []
            this.optionsEngagement.xaxis.categories = []
            this.optionsViews.xaxis.categories = []

        },

        formatRupiah(angka) {
            var prefix = "Rp. "
            return prefix + this.formatNumber(angka)
        },

        formatNumber(angka) {

            var separator = ""
            var prefix = ""
            angka = angka.toString()
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? '' + rupiah : '');
        },

        getCurrentDateFormatted(diff) {
            var d = new Date();
            d.setDate(d.getDate() - diff)
            var datestring = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate() + " " +
                d.getHours() + ":00:00";

            // var datestring = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate() + " " + "00:00:00";

            return datestring
        },

        formatDateRange() {
            this.range = this.dateStart + " to " + this.dateFinish
        },

        convertFromPicker(datestr) {
            return datestr.split(" to ")
        },

    },

};
</script>

<style></style>
