<template>
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 ">
                <h1 class="display-1 text-white">Welcome!</h1>
                <p style="padding-bottom:10px; font-weight:600;" class="lead text-success">This is a tool for analyzing products from shopee based on the keywords given.
                </p>
                <p align="justify" class="text-white">
                    Analytical results are given in the form of price statistics such as average, median and price range.
                    Analytical results also include distribution indexes for product categories resulting from searches.
                    Product sales trends in each particular price range will also be analyzed as well as correlations with product likes
                </p>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 my-6">

                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control" placeholder="Search Keyword" v-model="model.keyword">
                    </div>
                </div>
                <div style="padding-top:20px" class="row">
                    <div v-if="model.keyword.length > 0" class="col-lg-6">
                        <input class="form-control" placeholder="Minimum Price" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" v-model="model.price">
                    </div>
                    <div v-if="model.price.length > 0" class="col-lg-6">
                        <input class="form-control" placeholder="Wanted Items" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" v-model="model.items">
                    </div>
                </div>

                <div style="padding-top:50px" class="text-right">
                    <base-button @click="submit()" type="success" v-if="(model.items.length > 0) && (model.price.length > 0) && (model.keyword.length > 0)" outline class="">SEARCH</base-button>
                </div>

                <div style="padding-top:70px" class="text-right">
                    <p style="color:#ffffff">Didn't meet your need ? <base-button @click="showShop()" type="primary" size="sm">Try, Shop Tracker</base-button>
                    </p>
                </div>

            </div>
        </div>

    </div>

    

</div>
</template>

<style scoped>
::placeholder {
    color: #adb5bd;
    opacity: 1;
}

.form-control {
    background-color: #212529;
    border-color: #212529;
    color: #ffffff;
    font-size: 150%;
    height: 70px;
}

.form-control:focus {
    border-color: #e9ecef;
}
</style>

<script>
export default {

    name: 'login',
    data() {
        return {
            model: {
                keyword: '',
                price: '',
                items: '',
            },
            
        }
    },

    methods: {
        submit() {
            this.$router.replace({
                path: '/dashboard',
                query: {
                    q: this.model.keyword,
                    price: this.model.price,
                    items: this.model.items
                }
            })
        },

        showShop() {
            this.$router.replace({
                path: '/shop'
                
            })
        },

        redirectShop() {

        },
    }

}
</script>
