<template>
<div>

    <div style="padding-right:100px; padding-left:100px">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12 mb-5 mb-xl-0">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Shop List</h3>
                            </div>

                            <div class="col-lg-3">
                                <base-input class="mb-0" v-model="username" placeholder="shop's username"></base-input>
                            </div>
                            <div class="col-lg-1">
                                <base-button @click="submit()" class="btn-block" type="success"><span class="fas fa-search"></span></base-button>
                            </div>

                        </div>
                    </div>

                    <div class="table-responsive">
                        <base-table thead-classes="thead-light" :data="shopData">
                            <template slot="columns">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Products</th>
                                <th>Follower</th>
                                <th>Like Count</th>
                                <th>Revenue</th>
                                <th>Tracking Info</th>
                                <th>Data Point</th>
                                <th>Action</th>
                            </template>

                            <template slot-scope="{row}">
                                <th scope="row">{{row.shop_id}}</th>
                                <th scope="row">{{row.name}}</th>
                                <th scope="row">{{formatNumber(row.product_count)}}</th>
                                <th scope="row">{{formatNumber(row.follower_count)}}</th>
                                <th scope="row">{{formatNumber(row.rating_count)}}</th>
                                <th scope="row">{{formatRupiah(row.revenue)}}</th>
                                <th scope="row">{{row.first_date_formatted}}</th>
                                <th scope="row">{{formatNumber(row.data_count)}}</th>
                                <th scope="row">
                                    <base-button v-if="row.data_count == 0" @click="start(row.username)" class="m-0" type="danger" size="sm"><span class="fas fa-play"></span> Start</base-button>
                                    <base-button v-else @click="track(row.username)" class="m-0" type="info" size="sm"><span class="fas fa-search"></span> Track</base-button>
                                </th>
                            </template>

                        </base-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
// Charts
import Vue from 'vue';

import * as chartConfigs from '@/components/Charts/config';
import LineChart from '@/components/Charts/LineChart';

import axios from 'axios'
import VueSweetalert2 from 'vue-sweetalert2';
import VueModal from 'vue-js-modal'

Vue.use(VueSweetalert2)
Vue.use(VueModal)
export default {
    components: {
        LineChart,
    },
    data() {
        return {

            host: process.env.VUE_APP_HOST,
            shopData: [],
            username: '',

        };
    },

    mounted() {
        this.fetchData()
    },

    methods: {

        start(username) {

            Vue.swal({
                imageUrl: 'https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-23.gif',
                imageWidth: 300,
                title: "Finding shop",
                text: "please wait, getting product data",
                showConfirmButton: false,
                padding: '3em',
                allowEscapeKey: false,
                allowOutsideClick: false,
            })

            axios.get(this.host + '/api/shp/seller-products?username=' + username).then(response => {

                let data = response.data.data

                if (data !== null) {

                    this.fetchData()

                    Vue.swal.close()
                    Vue.swal("Success", response.data.message, "success")
                } else {
                    Vue.swal.close()
                    Vue.swal("Error", response.data.message, "error")
                }

            }).catch(error => {
                Vue.swal.close()
                Vue.swal("Error", error.response, "error")
            })

        },

        submit() {

            Vue.swal({
                imageUrl: 'https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-23.gif',
                imageWidth: 300,
                title: "Finding shop",
                text: "please wait, be patience",
                showConfirmButton: false,
                padding: '3em',
                allowEscapeKey: false,
                allowOutsideClick: false,
            })

            if (this.username == '') {
                Vue.swal.close()
                Vue.swal("Error", "username is required", "error")
                return
            }

            axios.get(this.host + '/api/shp/seller-info?username=' + this.username).then(response => {

                let data = response.data.data

                if (data !== null) {

                    this.fetchData()

                    Vue.swal.close()
                    Vue.swal("Success", response.data.message, "success")
                } else {
                    Vue.swal.close()
                    Vue.swal("Error", response.data.message, "error")
                }

            }).catch(error => {
                Vue.swal.close()
                Vue.swal("Error", error.response, "error")
            })

        },

        track(username) {
            this.$router.replace({
                path: '/sales',
                query: {
                    username: username
                }
            })
        },

        fetchData() {

            this.shopData = []

            Vue.swal({
                imageUrl: 'https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-23.gif',
                imageWidth: 300,
                title: "Fetching from DB",
                text: "please wait, this is hard",
                showConfirmButton: false,
                padding: '3em',
                allowEscapeKey: false,
                allowOutsideClick: false,
            })

            axios.get(this.host + '/api/shp/seller-list').then(response => {

                let data = response.data

                this.shopData = data.data

                Vue.swal.close()
                Vue.swal("Success", response.data.message, "success")

            }).catch(error => {
                Vue.swal.close()
                Vue.swal("Error", error.response, "error")
            })
        },

        //util

        formatRupiah(angka) {
            var prefix = "Rp. "
            return prefix + this.formatNumber(angka)
        },

        formatNumber(angka) {

            var separator = ""
            var prefix = ""
            angka = angka.toString()
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? '' + rupiah : '');
        },

    },

};
</script>

<style></style>
