<template>
<div class="bg bg-dark">
    <div class="container child">
        <slide-y-up-transition mode="out-in" origin="center top">
            <router-view></router-view>
        </slide-y-up-transition>
    </div>

</div>
</template>

<style scoped>


.bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

    display: table;
}

.child {
    display: table-cell;
    vertical-align: middle;
}
</style>

<script>
import {
    SlideYUpTransition
} from 'vue2-transitions'

export default {
    name: 'auth-layout',
    components: {
        SlideYUpTransition,

    },
    data() {
        return {
            year: new Date().getFullYear(),
            showMenu: false
        }
    }
}
</script>
